<header th:fragment="header" id="header" class="header d-flex align-items-center position-relative">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a th:href="@{/}" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="assets/img/logo.png" alt="AgriCulture">
        <!-- <h1 class="sitename">AgriCulture</h1>  -->
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
            <li><a th:href="@{/}" class="active">Home</a></li>
            <li><a th:href="@{/about}" >About</a></li>
            <li><a th:href="@{/services}" >Our Services</a></li>
          
            <li><a th:href="@{/testimonial}" >Our Testimonials</a></li>
   
            <li><a th:href="@{/blog}" >Blog</a></li>
            <li><a th:href="@{/contact}" >Contact</a></li>
      
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>